<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SilverReaderApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <SilverReaderApp.Properties.Settings>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>240</value>
      </setting>
      <setting name="WindowTitle" serializeAs="String">
        <value>Silver Reader</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>#A3A3A0</value>
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value>#222222</value>
      </setting>
      <setting name="PagePadding" serializeAs="String">
        <value>20,20,20,10</value>
      </setting>
      <setting name="FontFamily" serializeAs="String">
        <value>PT Serif</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="LineHeight" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="VoiceName" serializeAs="String">
        <value>Microsoft Hazel Desktop</value>
      </setting>
      <setting name="VoiceRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VoiceVolumn" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ParagraphMargin" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="CodePage" serializeAs="String">
        <value>936</value>
      </setting>
    </SilverReaderApp.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="SilverReaderApp.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>